*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input{
    border-radius: 10px;
    height:40px;
    padding:5px;
    
}x
input:focus{
    border:4px solid lightblue;
    height:45px;
    padding:5px;
    
}
.resume{

    background:white;
    
}
b{
    color:black;
}
.header{
    width:100%;
    padding:4px;
}
.body{
    width:100%;
}
.title{
   text-decoration: underline;
   padding:20px;
}
.title2{
    padding:20px;
    text-transform: capitalize;
    
}
textarea{
    height:150px;
    width:250px;
  
}
.prof{
    width:90px;
    height:90px;
    border-radius:10px;
    display:inline;
}
.languages{
    font-size:14px;
}
.profile{
width:300px;
height:300px;
}
.profile:focus{
    width:310px;
    height:310px;
}
.linkes{
    transition: 0.2s 0.2s;
    width:200px;
    height:240px;
}
.linkes:hover{
    width:240px;
    height:270px;
    transform: scale(1)
}
ul li a{
    text-decoration: none;
    color:black;
}
ul li a:hover{
    color:black;
}
.certified{
    font-size:10px;
    color:gray;

}
.certified:hover{
    color:gray;
}
.skills{
    background:gray;
    border-radius:5px;
    width:fit-content;
    padding:5px;
    margin-top:7px;
  
    
}

.wallpaper{
   background-image: url('wallpaper.jpg');
    width:100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
.wallpaper::after{
    position: absolute;
    width:100%;
    height:100vh;
    content:'';
    background:black;
    opacity:0.5;
}
.bio{
      margin-top:-135px;
    position: relative;
    top:200px;
    left:40px;
    color:white;
    font-size:48px;
    z-index:1000;
}
.build{
    animation-name: bio;
    animation-duration: 8s;
    animation-delay:0s;
    animation-iteration-count: 1;
    transition: 0.3s 3s ;
   
}
.choose{
    animation-name: bio;
    animation-duration: 20s;
    animation-delay:0s;
    animation-iteration-count: 1;
   
}

@keyframes bio{
    0%{opacity:0;}
    25%{opacity:0.7}
    50%{opacity:0.4}
    75%{opacity:0.6}
    100%{opacity:1}
}
.bigResume{
    font-size:56px;
    position:relative;
    left:65px;
}
.getStarted{
    position:absolute;
    top:450px;
    left:750px;
    border-radius:20px;
    padding:10px;
    height:50px;
    width:200px;
    background:white;
    color:black;
    text-align:center;
    z-index:10000;
    text-transform: uppercase;
    cursor:pointer;
    font-weight: bold;
    border:2px solid black;
    
}


