*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input{
    width:100%;
    border-radius:10px;
    padding:5px;
}


.register-inputes,.contact-input{
    width:100%;
    height:3px;
    padding:5px;
    outline:none;
    box-sizing: border-box;
    border:1px solid black;
}

.register{
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgb(24, 23, 23);
    height:100vh;
    border-radius: 5px;
}


input:focus{
    height:34px;
    transition: 0.5s 0s;
}
.customeResume{
    background:rgb(24, 23, 23);
    width:100%;
    padding:45px 10px 10px 10px;  
}
.template-page{
    background:rgb(24, 23, 23);
    display:flex;
    width:100%;
    height:100%;
    position:absolute
    
}
.try{
    position:relative;
    bottom:10%;
    left:30%;
}
.templates{

   
}


.templates:hover{
    opacity:0.3;
}

.mockup{
    position: absolute;
    display: block;
   
}

b{
    color:black;
}
.header{
    width:100%;
    padding:4px;
}
.body{
    width:100%;
}
.title{
   text-decoration: underline;
   padding:20px;
}
.title2{
    padding:20px;
    text-transform: capitalize;
    
}
textarea{
    height:150px;
    width:100%;
    padding:4px;
  
}
.prof{
    width:90px;
    height:90px;
    border-radius:10px;
    display:inline;
}
.languages{
    font-size:14px;
}

.linkes{
    transition: 0.2s 0.2s;
    width:200px;
    height:240px;
}
.linkes:hover{
    width:240px;
    height:270px;
    transform: scale(1);
}
ul li a{
    text-decoration: none;
    color:black;
}
ul li a:hover{
    color:black;
}
.certified{
    font-size:10px;
    color:gray;

}
    
.certified:hover{
    color:gray;
}
.skills{
    background:gray;
    border-radius:5px;
    width:fit-content;
    padding:5px;
    margin-top:7px;
  
    
}

.wallpaper{
   background-image: url('../wallpaper2.jpg');
   background-color: rgb(22, 18, 18);
    width:100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.wallpaper::after{
    position: absolute;
    width:100%;
    height:100vh;
    content:'';
    background:black;
    opacity:0.85;
}



.bio1{
    position:absolute;
    font-size:30px;
   background-color:rgba(22, 18, 18,0.0);
    color:white;
    align-items: center;
    top:130px;
    left:20px;
    justify-content: center;
    z-index: 100000;
    text-transform: uppercase;
}
.bio1::after{
    content:'';
    position:absolute;
    left:0;
    background-color:rgba(22, 18, 18);
    color:white;
    height: 100%;
    width:100%;
    border-left:2px solid whitesmoke;
    animation:animate  2.8s steps(15) infinite;
    

}

@keyframes animate {
   100%{left:110%;}
   
}
/* 
 .poem>.bio2{
    color:white;
    position: absolute;
    animation-name:bio2;
    animation-duration: 12s;
    animation-delay:5s;
    animation-iteration-count: infinite;
    font-size: 40px;
    top:-95px;
    

}
@keyframes bio2 {
    0%{display:block;top:-91px;}
    
    100%{top:95px;}
}  */

.bigResume{
    font-size:56px;
    position:relative;
    left:65px;
    display:none;
}

.getStarted{
   position:absolute;
    border-radius:25px;
    padding:10px;
    top:430px;
    left:20px;
    height:50px;
    width:190px;
    background:white;
    color:black;
    text-align:center;
    z-index:10000000;
    text-transform: uppercase;
    cursor:pointer;
    font-weight: bold;
    border:2px solid black;
    text-decoration:none;
}
.getStarted:hover{
    color:black;
}
.getStarted:active{
    color:black;
    transform:scale(1.08);
}
.burger div{
    width:23px;
    height:4px; 
   background-color: white;
    margin:3px;
    
    
}
.burger{
    cursor:pointer;
   position:absolute;
   right:20px;
   top:10px;
   z-index:100000000000;
   
}


label{
    position:relative;
    bottom:-8px;
    color:white;
}
.forms{
    box-shadow: 0 5px 30px 10px rgba(255,255,255,0.3);
    border-radius:10px;
    width:60vh;
    height:80vh;
    display:flex;
    justify-content: center;
    background-color: white; 
}
.login-forms{
    box-shadow: 0 5px 30px 10px rgba(255,255,255,0.3);
    border-radius:10px;
    width:60vh;
    height:60vh;
    display:flex;
    justify-content: center;
    background-color: white;
    
}
.forms>form>h3{
    font-weight:bold;
    margin-top:20px;
}

.nav-links{

    margin-top:10px;
    color:white;
    display:inline-flex;
    align-items:end;
    justify-content:flex-end;
    width:90%; 
    position:absolute;
    z-index: 100000;
}
.navs{
    color:rgb(221, 208, 208);
    font-size:20px;
}
.navs:hover{
    border-bottom: 2px solid rgb(128, 126, 126);
    color:white;
}

.sm-navbar-show{

    position:absolute;
    background-color: black;
    color:white;
    height:100%;
    width:100%;
    right:0px;
    z-index:100000000;
    opacity:0.987;
    animation-name: showNavbar;
    animation-duration: 2s;
    animation-delay:0s;
    animation-iteration-count: 1;
    transform: translateY(-680deg);
    
    
    
}


@keyframes showNavbar {
    from{transform:translateY(-680px);}
    to{transform:translateY(0px);}
}

.sm-links{
    color:white;
    display:block;
    border-bottom:1px solid rgb(128, 126, 126);
    text-decoration:none;
    text-align:center;
    padding-top:10px;
}
.sm-links:hover{
    color:white;
}

.sm-navbar-hide{
    position:absolute;
    background-color: black;
    color:white;
    height:100%;
    width:100%;
    right:0px;
    z-index:100000000;
    opacity:0.987;
    animation-name: hideNavbar;
    animation-duration: 1.4s;
    animation-delay:0s;
    animation-iteration-count: 1;
    transform:translateY(-680px);
}
.line1-show{
    transform:rotate(20deg);
}
.lin2-hide{
    display:none;

}

@keyframes hideNavbar {

    from{transform:translateY(0px);}
    to{transform:translateY(-680px);}

}

.line1-hide{
    transform:rotate(0deg)
} 
.contact-page{
    background:rgb(107, 103, 103);
    display:flex;
    width:100%;
    height:100vh;
    align-items:center;
    justify-content: center;
}
.contact-form{
    margin-top:90px;
    width:60vh;
    height:95vh;
    padding:5px;
}



.icons>a>img{
    width:40px;
    height:40px;
}
.icons>a>img:hover{
    transition: 0.3s 0.1s;
    width:55px;
    height:55px;
}