*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:'Merriweather'
}
.resume{
    background-color: white;
    padding:20px;
}

.inputes{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* padding:5px 50px 5px 20px; */
    word-wrap: wrap;
    line-break:auto;
}
.logo{
    width:100px;
    height:100px;
    float:left;

}
.skill-level{
background-color: white;
width:40px;
height:40px;
border-radius: 50%;   
border:1px solid black;
font-size:13px;
margin-left:10px;
display:inline-flex;
align-items:center;
padding:3px;
cursor:none;
user-select: none;
}
.skill-level:hover{
    background:black;
    color:white;
  
    cursor:pointer;
}
.template2{
    margin-top:50px;
    font-size:14px;
    margin-bottom:10px;
    /* width:100%; */
}

 
.showLive{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.header-6{
    width:85vh;
    height:25%;
    word-wrap: break-word;
}
.name-6{
    border-left:10px solid black;
    padding-left:10px;
}

.pure-cv{
    width:595px;
    height:842px;
    word-wrap:break-word;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow:hidden;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    
   
}
.center{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;

}

input[type=color]{
width:50px;
height:50px;
margin:10px;
margin-bottom:20px;
padding:0;
border-radius:50%;
background-color: none;

}

.partOne,.partTwo,.partThree,.partFour,.partFive,.partSex{
    animation:  come 1s linear 1;
    animation-delay: 0s;
}
@keyframes come {
    from{transform:translateX(-680px);}
    to{transform:translateY(0px);}
}

label{
position:relative;

}

.partOne>label{
    color:white;  
}
.partTwo>label{
color:rgb(221, 221, 221);
}
.partThree>form>label{
    color:whitesmoke;
}
.partFour>form>label{
    margin-top:10px;

    color:whitesmoke;
}
.partFive>form>label{
    margin-top:10px;
    color:whitesmoke;
}
.partSex>form>label{
    margin-top:10px;
    color:whitesmoke;
}
small{
    color:rgb(238, 30, 30);
}


button.w-100:active{
    box-shadow: 0px;
}

.register{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    height:100vh;
    border-radius: 5px;
    
}
.register-inputes,.contact-input{
    width:100%;
    margin-bottom: 5px;


}
.register-inputes:focus{
    border:2px solid skyblue;
}
.customeResume{
    width:100%;
    padding:45px 10px 10px 10px;  
}
.template-page{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
}
.resume-levels{
    width:100vw;
    height:100vh;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content:center;
}
.creatResume{
   width:100%;
   height:100%;
}
.creatResume>div{
    
    width:100px;
    height:300px;;
    background:white;
}
.creatResume>div>input{
    width:100px;
}

.templates{
    width:320px;
    height:500px;
    margin:5px 5px 0px 5px;
    align-items: center;
    justify-content:center;
}
.shadow{
    background-color: rgb(219, 211, 211);
    opacity:0.9;
    border-top-left-radius:100px;
    border-top-right-radius:40px;

}

.templates:hover{
    opacity:0.3;
}

.mockup{
    position: absolute;
    display: block;
   
}

b{
    color:black;
}
.header{
    width:100%;
    padding:4px;
}
.body{
    width:100%;
}

.title{
   text-decoration: underline;
   padding:20px;
}
.title2{
    padding:20px;
    text-transform: capitalize;
    
}
textarea{
    height:130px;
    width:90%;
    padding:4px;
  
}
.prof{
    width:90px;
    height:90px;
    border-radius:10px;
    display:inline;
}
.prof2{
   
    border-radius: 50%;
    border:2px solid rgb(103, 103, 156);
}
.prof3{
    width:150px;
    height:150px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    stroke-width: 30px;
}
.prof4{
    display:inline-block;
    width:80px;
    height:80px;
}
.prof6{
    width:100px;
    height:100px;
    border-radius:50px;
}
.languages{
    font-size:14px;
}
.title-line{
    margin-top:70px;
    margin-left:30px;
    width:150px;
    height:7px;
    
}
.linkes{
    transition: 0.2s 0.2s;
    width:200px;
    height:240px;
}
.linkes:hover{
    width:240px;
    height:270px;
    transform: scale(1);
}
li{
    list-style-type: disc;
}
li.rome{
    list-style-type:upper-roman
}
ul li a{
    text-decoration: none;
    color:black;
}
ul li a:hover{
    color:black;
}
.certified{
    font-size:10px;
    color:gray;

}
    
.certified:hover{
    color:gray;
}
 

.wallpaper{
   background-image: url('../wallpaper2.jpg');
   background-color: rgb(22, 18, 18);
    width:100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.wallpaper::after{
    position: absolute;
    width:100%;
    height:100vh;
    content:'';
    background:black;
    opacity:0.85;
}

#animation{
    width:450px;
    position:absolute;
    top:300px;
    right:40px;
    align-items:center;
    z-index:0;
}


.bio1{
    position:absolute;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    align-items: center;
    top:130px;
    left:20px;
    justify-content: center;
    z-index: 100000;
    text-transform: uppercase;
}
.bio1::after{
    content:'';
    position:absolute;
    left:0;
    background:rgba(24, 23, 23,0.95);
    z-index:10000;
    height: 100%;
    width:100%;
    border-left:2px solid whitesmoke;
    animation:bio  3.3s steps(15) infinite;
    
}

@media (min-width:1024px){
    .bio1{
        font-size:40px;
    }
    .inputes{
       width:100%;
       height:110vh;
    }
    
     
}

@media(max-width:768px){
    .inputes{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100vh;
    }
    
    #animation{
        display:none;
    }
}



@keyframes bio {
   100%{left:110%;}
   
}

.bigResume{
    font-size:56px;
    position:relative;
    left:65px;
    display:none;
}

.getStarted{
   position:absolute;
    border-radius:25px;
    padding:10px;
    top:430px;
    left:20px;
    height:50px;
    width:190px;
    background:white;
    color:black;
    text-align:center;
    z-index:10000000;
    text-transform: uppercase;
    cursor:pointer;
    font-weight: bold;
    border:2px solid black;
    text-decoration:none;
}
.getStarted:hover{
    color:black;
}
.getStarted:active{
    color:black;
    transform:scale(1.08);
}



.signup{
    position:absolute;
    width:350px;
    height:450px;
    inset: 2px;
    background:white;
    border-radius:20px;
    
}
.login{
    position:absolute;
    width:350px;
    height:380px;
    inset: 2px;
    background:white;
    border-radius:20px;
  
}
.box-signUp{
    position:relative;
    width:355px;
    height: 450px;
    background:white;
    border-radius:20px;
    overflow: hidden;

}
.box-signUp::before{
    content: '';
    width:355px;
    height:420px;
    top:-50%;
    left:-50%;
    position:absolute;
    background: linear-gradient(0deg,transparent,black,black);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    overflow: hidden;
    
}
.box-login{
    position:relative;
    width:355px;
    height: 385px;
    background:white;
    border-radius:20px;
    overflow: hidden;

}
.box-login::before{
    content: '';
    width:350px;
    height:380px;
    top:-50%;
    left:-50%;
    position:absolute;
    background: linear-gradient(0deg,transparent,black,black);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    overflow: hidden;
    
}


@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


.forms>form>h3{
    font-weight:bold;  
}
@keyframes form-animate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.nav-links{
    margin-top:10px;
    color:white;
    display:inline-flex;
    align-items:end;
    justify-content:flex-end;
    width:92%; 
    position:absolute;
    z-index: 100000;
}
.navs{
    color:rgb(221, 208, 208);
    font-size:20px;
}
.navs:hover{
    border-bottom: 2px solid rgb(128, 126, 126);
    color:white;
}

.sm-navbar-show{

    position:absolute;
    background-color: black;
    color:white;
    height:100%;
    width:100%;
    right:0px;
    z-index:100000000;
    opacity:0.987;
    animation-name: showNavbar;
    animation-duration: 1.3s;
    animation-delay:0s;
    animation-iteration-count: 1;
    transform: translateY(-680deg);
    
    
    
}


@keyframes showNavbar {
    from{transform:translateY(-680px);}
    to{transform:translateY(0px);}
}

.sm-links{
    color:white;
    display:block;
    border-bottom:1px solid rgb(128, 126, 126);
    text-decoration:none;
    text-align:center;
    padding-top:10px;
}
.sm-links:hover{
    color:white;
}

.sm-navbar-hide{
    position:absolute;
    background-color: black;
    color:white;
    height:100%;
    width:100%;
    right:0px;
    z-index:100000000;
    opacity:0.987;
    animation-name: hideNavbar;
    animation-duration: 1.3s;
    animation-delay:0s;
    animation-iteration-count: 1;
    transform:translateY(-680px);
}
.burger div{
 
    background-color: white;
   margin-top:3px;
    
}
.burger{
    cursor:pointer;
    margin-top:14px;
   position:absolute;
   right:20px;
   top:10px;
   z-index:100000000000;
   
}

.line1,.line2,.line3{
    margin-top:2px;
    height:3px; 
    width:20px;
    background:white;
}
.line1_hide{
   transform: rotate(-25deg);
   margin-left:-10px;
   width:30px;

}



@keyframes hideNavbar {

    from{transform:translateY(0px);}
    to{transform:translateY(-680px);}

}

.contact-page{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    overflow: hidden;
    justify-content: center;
}
.contact-form{
    
    margin-top:90px;
    width:380px;
    height:650px;
    padding:5px;
}


.icons>a>img{
    width:50px;
    height:50px;
    position:relative;
    display:block;
    margin:25px 10px 25px 10px;
    float:inline-start
    
    
}
.icons>a>img:hover{
    transition: 0.3s 0.1s;
    width:55px;
    height:55px;
}


.inputBox{
    width:250px;
    position:relative;
}

.inputBox input,.inputBox textarea{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    padding:10px;
    border:1px solid rgb(100, 97, 97);
    background-color: #343a49;
    border-radius: 5px;
    outline:none;
    color:white;
    font-size:16px;
}
.inputBox label{
    position:absolute;
    left:10px;
    top:2px;
    padding:10px;
    pointer-events: none;
    font-size: 16px;
    color: #343a49;
    transition:all 0.3s;
    z-index:-1;
}
.inputBox input:focus ~ label,.inputBox textarea:focus ~ label{
    color:whitesmoke;
    transform:translateX(5px) translateY(-7px);
    font-size:14px;
    padding:0 5px;
    background-color: #343a49;
    z-index:1;
}

.inputBox input:focus{
    border:2px solid whitesmoke
}
.inputBox textarea:focus{
    border:2px solid whitesmoke
}


  
.divLevel{
    width:50px;
    height:7px;
    margin-bottom: 4px;
    background-color:blue;
}
.show{
    width:50px;
    height:7px;
    margin-bottom: 4px;
    background-color: red;
}
.none{
    width:50px;
    height:7px;
    margin-bottom:4px;
    background: #ccc;
}

.content{  
    padding:0px 20px 0px 50px;
    position:relative;
 

  }

  .box{
    /* padding:10px; */
  }
 .box::before{
    content:'';
    position:absolute;
    top:10px;
    /* right:calc(92% + 20px); */
    left:0;
    background-color:black;
    width:20px;
    height:20px ; 
    border-radius: 50%;

 }
 .boxTwo::before{
    content:'';
    position:absolute;
    top:10px;
    /* right:calc(92% + 20px); */
    left:0;
    background-color:black;
    width:20px;
    height:20px ; 
    transform: rotate(45deg);

 }
 .lev1,.lev2{
    width:25px;
    height:25px;
    border-radius:50%;
}
.lev1{
    background:blue;
    margin-left:3px;
}
.lev2{
    background:green;
    margin-left:3px;
}
.circle{
    width:30px;
    height:30px;
    border-radius:50%;
    background:black;
}
.overlay{
position: fixed; /* Sit on top of the page content */ /* Hidden by default */
width: 100%; /* Full width (cover the whole page) */
height: 100%; /* Full height (cover the whole page) */
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5); /* Black background with opacity */
z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
cursor: pointer; /* Add a pointer on hover */
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }